	<footer class="fundpress-footer-version-2">
		<div class="fundpress-footer-top-layer">
			<div class="container">
				<div class="row">
					{{! <div class="col-md-4 col-lg-4">
						<div class="fundpress-single-footer-v2-content wow fadeInUp" data-wow-duration="1s">
							<ul class="xs-social-list fundpress-social-list">
								<li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
								<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
								<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
								<li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div> }}
					<div class="col">
						<div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.6s">
							<div class="xs-footer-title">
								<h4 class="color-white">Contact</h4>
							</div>
							<ul class="xs-list-item-icon-text-v2 d-flex flex-row">
								<li>
									<i class="icon icon-paper-plane"></i>
									<div class="xs-contact-contet">
										786/A PW Townhall, New York, United States
									</div>
								</li>
								<li>
									<i class="icon icon-phone-call"></i>
									<div class="xs-contact-contet">
										+88 001 2466 (90)
									</div>
								</li>
								<li>
									<i class="icon icon-email"></i>
									<div class="xs-contact-contet">
										<a href="mailto:yourname@domain.com" class="d-block">yourname@domain.com</a>
									</div>
								</li>
								<ul class="xs-social-list fundpress-social-list">
									<li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
									<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>