	<footer class="fundpress-footer-version-2">
		<div class="fundpress-footer-top-layer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.6s">
							<img src="https://lh3.googleusercontent.com/iMPYK6qHqJx7G1N5-u9BaBHF4_V6TKeISxaJx18phpBJ71XB82Q2Yz_WSk_SQGCrrur3fwjYNEwpWZjfIzfsf1Qpig=s185" />
						</div>
					</div>
					<div class="col">
						<div class="fundpress-single-footer-v2 wow fadeInUp text-right" data-wow-duration="1.6s">
								<ul class="xs-social-list fundpress-social-list">
									<li><a href="" class="color-facebook full-round"><i class="fa fa-facebook"></i></a></li>
									<li><a href="" class="color-twitter full-round"><i class="fa fa-twitter"></i></a></li>
									<li><a href="" class="color-dribbble full-round"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="" class="color-pinterest full-round"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="" class="color-instagram full-round"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>