<header class="xs-header-section xs-header-height fundpress-header-main-version">
	<div class="container">
		<nav class="xs-menus fundpress-menu fundpress-menu-v2">
			<div class="nav-menus-wrapper">
				<div class="xs-logo-wraper">
					<a class="nav-brand xs-logo px-2 rounded bg-light" href="#">
						<img src="https://storage.turbo360.co/vertex360-cms-4hujkc/vertex-logo-2.svg" alt="Logo">
					</a>
				</div>
				<ul class="nav-menu text-right">
					<li class="nav-menu-item"><a id="features">Features</a></li>
					<li class="nav-menu-item"><a id="about">About</a></li>
					<li class="nav-menu-item"><a id="news">News</a></li>
					<li class="nav-menu-item"><a id="contact">Contact</a></li>
			</div>
		</nav>
	</div>
</header>