<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Landing Page Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CPoppins:200,400,500,600,700%7CPlayfair+Display:400,700i" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Icon foont list -->
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- isotope -->
    <link rel="stylesheet" href="/css/isotope.css">
    <!-- magnific -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- woocommerce -->
    <link rel="stylesheet" href="/css/woocommerce.css">
    <!--For Plugins external css-->
    <link rel="stylesheet" href="/css/plugins.css" />
    <!--Theme custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/css/responsive.css" />
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>