<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="en">
{{>templatehead}}
<body class="woocommerce">		
	<div id="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	{{>header}}
	{{>login}}

	<section class="xs-screen-height xs-welcome-section xs-bg fundpress-welcome-section" style="background-image: url( /images/welcome-bg.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="xs-welcome-content fundpress-welcome-content-v2">
						<div class="xs-welcome-wraper">
							<h2>{{page.header.greeting}}</h2>
							<h4>{{page.header.subgreeting}}<h4>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="xs-welcome-content">
						<div class="text-center fundpress-animate xs-welcome-wraper">
							<img src="images/heropic.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section  class="xs-section-padding fundpress-cause-matters-v2" data-scrollax-parent="true">
		<div class="container">
			<div class="fundpress-heading-title-v3 text-center wow fadeInUp" data-wow-duration="1s">
				<div class="fundpress-heading-title-content">
					<h2>{{page.features.title}}</h2>
					<p>{{page.features.subtitle}}</p>
				</div>
				<span class="parallax-title" data-scrollax="properties: { translateY: '-250px' }">{{page.features.backgroundtext}}</span>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.2s">
						<i class="icon icon-cogwheel-outline xs-check-mark"></i>
						<h4>Most Money Raised. </h4>
						<p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.4s">
						<i class="icon icon-symbol xs-check-mark"></i>
						<h4>Safety Garanted</h4>
						<p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.6s">
						<i class="icon icon-shopping-cart xs-check-mark"></i>
						<h4>Product Sale</h4>
						<p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					<div class="fundpress-inner-about-content">
						<h2 class="color-navy-blue">{{page.about.title}}</h2>
						<p>{{page.about.subtitle}}</p>
						<a href="#" class="xs-sign-logo">
							<img src="/images/signature_logo.png" alt="Fundpress author sign">
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6">
					<div class="fundpress-about-promo-image xs-box-shadow">
						<img src="/images/about.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="xs-section-padding xs-gray-bg-2" data-scrollax-parent="true">
		<div class="container">
			<div class="fundpress-heading-title-v3 text-center wow fadeInUp" data-wow-duration="1s">
				<div class="fundpress-heading-title-content">
					<h2>{{page.news.title}}</h2>
					<p>{{page.news.subtitle}}</p>
				</div>
				<span class="parallax-title" data-scrollax="properties: { translateY: '-250px' }">{{page.news.backgroundtext}}</span>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="xs-mb-30 fundpress-from-journal fundpress-from-journal-v2 rounded wow fadeInUp" data-wow-duration="1.2s">
						<div class="fundpress-item-header entry-thumbnail">
							<img src=" /images/news-feed/news_1.jpg" alt="">
						</div>
						<div class="fundpress-item-content xs-content-padding bg-color-white">
							<div class="entry-header xs-mb-30">
								<div class="post-author">
									<ul class="xs-simple-tag xs-simple-tag-v2 fundpress-simple-tag author-links">
										<li><span>By</span><a href="" class="color-blue-v2" rel="author">XpeedStudio</a></li>
									</ul>
								</div>
								<h4 class="entry-title">
									<a href="blog-details.html" class="xs-mb-0 xs-post-title color-navy-blue fundpress-post-title">Newman's Own Foundation teams up with FundPress for...</a>
								</h4>
							</div>

							<span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor xs-mb-20"></span>

							<div class="entry-content xs-spilit-container xs-footer-content">
								<div class="xs-col-6 text-left">
									<span class="date">
										<a href="" title="" rel="bookmark">
											<i class="fa fa-calendar"></i>
											<span class="entry-date xs-entry-date">12 May 2017</span>
										</a>
									</span>
								</div>
								<div class="xs-col-6 text-right">
									<span class="categories-links">
										<a href="" class="xs-blog-meta-tag blue-bg-v2" rel="category tag">technology</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="xs-mb-30 fundpress-from-journal fundpress-from-journal-v2 rounded wow fadeInUp" data-wow-duration="1.4s">
						<div class="fundpress-item-header entry-thumbnail">
							<img src=" /images/news-feed/news_2.jpg" alt="">
						</div>
						<div class="fundpress-item-content xs-content-padding bg-color-white">
							<div class="entry-header xs-mb-30">
								<div class="post-author">
									<ul class="xs-simple-tag xs-simple-tag-v2 fundpress-simple-tag author-links">
										<li><span>By</span><a href="" class="color-blue-v2" rel="author">Themewinter</a></li>
									</ul>
								</div>
								<h4 class="entry-title">
									<a href="blog-details.html" class="xs-mb-0 xs-post-title color-navy-blue fundpress-post-title">Specializes in creative projects with robust reward level feature</a>
								</h4>
							</div>

							<span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor xs-mb-20"></span>

							<div class="entry-content xs-spilit-container xs-footer-content">
								<div class="xs-col-6 text-left">
									<span class="date">
										<a href="" title="" rel="bookmark">
											<i class="fa fa-calendar"></i>
											<span class="entry-date xs-entry-date">13 February 2017</span>
										</a>
									</span>
								</div>
								<div class="xs-col-6 text-right">
									<span class="categories-links">
										<a href="" class="xs-blog-meta-tag blue-bg-v2" rel="category tag">Software</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="xs-mb-30 fundpress-from-journal fundpress-from-journal-v2 rounded wow fadeInUp" data-wow-duration="1.6s">
						<div class="fundpress-item-header entry-thumbnail">
							<img src=" /images/news-feed/news_3.jpg" alt="">
						</div>
						<div class="fundpress-item-content xs-content-padding bg-color-white">
							<div class="entry-header xs-mb-30">
								<div class="post-author">
									<ul class="xs-simple-tag xs-simple-tag-v2 fundpress-simple-tag author-links">
										<li><span>By</span><a href="" class="color-blue-v2" rel="author">Themes</a></li>
									</ul>
								</div>
								<h4 class="entry-title">
									<a href="blog-details.html" class="xs-mb-0 xs-post-title color-navy-blue fundpress-post-title">Can withdraw immediately add and deposits take 2-5 business</a>
								</h4>
							</div>

							<span class="xs-separetor border-separetor xs-separetor-v2 fundpress-separetor xs-mb-20"></span>

							<div class="entry-content xs-spilit-container xs-footer-content">
								<div class="xs-col-6 text-left">
									<span class="date">
										<a href="" title="" rel="bookmark">
											<i class="fa fa-calendar"></i>
											<span class="entry-date xs-entry-date">8 March 2017</span>
										</a>
									</span>
								</div>
								<div class="xs-col-6 text-right">
									<span class="categories-links">
										<a href="" class="xs-blog-meta-tag blue-bg-v2" rel="category tag">innovation</a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="xs-section-padding xs-gray-bg-2 fundpress-contact-us-section xs-contact-us-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 content-center">
					<div class="xs-section-heading fundpress-section-heading">
						<div class="xs-heading-title fundpress-heading-title">
							<h2 class="color-navy-blue">{{page.contact.title}}</h2>
							<span class="xs-separetor dashed-separetor fundpress-separetor"></span>
							<p>{{page.contact.subtitle}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 content-center">
					<div class="xs-contact-form-wraper">
						<form action="#" method="POST" id="xs-contact-form">
							<div class="row xs-margin-0 xs-mb-30">
								<div class="col-md-6 xs-padding-0 xs-pr-15">
									<div class="xs-input-group">
										<label for="xs_contact_name">Name</label>
										<div class="xs-input-group-addon">
											<i class="fa fa-user color-green xs-input-addon"></i>
											<input type="text" name="name" id="xs_contact_name" class="xs-input-control" placeholder="Enter your name...">
										</div>
									</div>
								</div>
								<div class="col-md-6 xs-padding-0 xs-pl-15">
									<div class="xs-input-group">
										<label for="xs_contact_email">email</label>
										<div class="xs-input-group-addon">
											<i class="fa fa-envelope-o color-green xs-input-addon"></i>
											<input type="email" name="email" id="xs_contact_email" class="xs-input-control" placeholder="Enter your email...">
										</div>
									</div>
								</div>
							</div>
							<div class="xs-submit-wraper content-center">
								<input type="submit" name="submit" value="Submit" id="xs_contact_submit" class="xs-submit-btn">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{>footer}}
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/Popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/isotope.pkgd.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/jquery.easypiechart.min.js"></script>
	<script src="/js/spectragram.min.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/scrollax.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>